# Description: 
# The file tells git what files to ignore during add and commit
# operations. This has been optimized for development using 
# Microsoft Visual Studio 2010.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# MIT Prj specific tmp
PrjObj/
[Bb]ench Debug 300/
[Dd]ebug 300/
[Bb]enchDebug300/
[Dd]ebug300/
[Bb]enchDebug/
[Dd]ebug/
# Others
*.log
/mitcontrol/Control/SGLog
